<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gendigital.petstore">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gendigital.tiendamascotas.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gendigital.tiendamascotas.pets_favoritos"
            android:parentActivityName="com.gendigital.tiendamascotas.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gendigital.tiendamascotas.MainActivity" />
        </activity>
        <activity android:name="com.gendigital.tiendamascotas.Prueba" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.gendigital.tiendamascotas.MainActivity" />

        <activity android:name="com.gendigital.tiendamascotas.Contacto" />
        <activity android:name="com.gendigital.tiendamascotas.AcercaDe" />
        <activity android:name="com.gendigital.tiendamascotas.RecyclerViewFragment"></activity>
    </application>

</manifest>